name: ReleaseCI

on:
  release:
  push:
    tags:
      - "*"

jobs:
  build-n-test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        components: clippy
        override: true
    - name: Build
      run: cargo build

    - name: Run tests
      run: cargo test

    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'

    - name: Install Maturin
      run: pip install maturin twine

    - name: Rust - Build & Publish
      env:
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      run: |
        maturin build --release --out wheels
        twine upload -u milesg --skip-existing wheels/*

    - name: Python - Build & Publish
      env:
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
      run: |
        pip install -r requirements.txt
        pip install wheel
        python setup.py sdist
        python setup.py bdist_wheel
        twine upload -u milesg --skip-existing dist/*
